app-header-people {
    @media screen and (max-width: 1450px){
        #header-people.page {
            max-height: 300px;
            overflow: hidden;

            img {
                margin-top: -15%;
            }
        }
    }
}