app-cusrsus-item {

    .item, .description {
        padding: 0 16px;
    }
    .cursus {
        span {
            font-weight: 300;
        }
        p {
            font-size: 1.2rem;
            // margin-bottom: -10px;
            // font-weight: 400;
        }

        padding: 0.4rem;
        font-size: 1.3rem;
        // letter-spacing: 0.1rem;
        margin: 0;

        .alignWithCard {
            span {
                color: #575757;
            }
            h2 {
                margin-top: 0.2rem;
                margin-bottom: 0;
                padding: 0;
            }          
  
        }
    }
    .cursus .col {
        font-weight: 300;
        transition: 250ms ease-in-out;
        cursor: pointer;
    }
    .cursus .col.front{
        background: #fff;
        color: rgb(84,112,43);
        border: solid 1px rgb(84,112,43);


    }
    .blockInscription {
        margin-top: 2rem;
        padding-left: 7px;
    }
    .blockInscription.front {
        background: rgb(84,112,43);
        color: #fff;
    }
    .btnInscription.front {
        --background: rgb(84,112,43);
        color: #fff;
    }

    .item-native {
        min-height:10px;
    }
    .contact-send-row {
        position: absolute;
        bottom: 0;
        width: 100;
    }
    ion-input, ion-label {
        min-height: 10px!important;
        --padding-bottom: 0;
        --padding-top: 0;
    }
    ion-select.selectInscription {
        border: solid 1px #8f8f8f;
    }
    .inscriptionBlock.front {
        margin-top:10px;
        background: rgba(0, 145, 46, 0.1);
        border: solid 1px #ccc;
    }
    ion-select.selectInscription.front {
        background: rgba(0, 145, 46, 0.1);
    }
    .cursus .col.front:hover, .cursus .col.front.active{
        background: rgb(84,112,43);
        color: #fff;
        border: solid 1px rgb(84,112,43);
    }
    .blockInscription.back {
        background: rgb(64,114,144);
        color: #fff;
    }
    .btnInscription.back {
        --background: rgb(64,114,144);
        color: #fff;
    }

    .inscriptionBlock.back {
        margin-top:10px;
        background: rgba(0, 137, 215, 0.1);
        border: solid 1px #ccc;
    }
    ion-select.selectInscription.back {
        background:rgba(0, 137, 215, 0.1);
    }
    .cursus .col.back{
        background: #fff;
        color: rgb(64,114,144);
        border: solid 1px rgb(64,114,144);
    }
    .cursus .col.back:hover, .cursus .col.back.active{
        background: rgb(64,114,144);
        color: #fff;
        border: solid 1px rgb(64,114,144);
    }
    .cursus .col.marketing{
        background: #fff;
        color: rgb(142,25,78);
        border: solid 1px rgb(142,25,78);
    }
    .blockInscription.marketing {
        background: rgb(142,25,78);
        color: #fff;
    }
    .btnInscription.marketing {
        --background: rgb(142,25,78);
        color: #fff;
    }

    .inscriptionBlock.marketing {
        margin-top:10px;
        background: rgba(196, 0, 116, 0.1);
        border: solid 1px #ccc;
    }

    .no-padd-bottom {
        padding-bottom: 0.5rem !important;
        margin-bottom: 0rem !important;
    }
    .font16px {
        font-size: 16px !important;
    }
    ion-select.selectInscription.marketing {
        background: rgba(196, 0, 116, 0.1);
    }
    .cursus .col.marketing:hover, .cursus .col.marketing.active{
        background: rgb(142,25,78);
        color: #fff;
        border: solid 1px rgb(142,25,78);
    }

    .alignWithCard {
        padding: 0;
    }
    .nextTimeCol {
        padding-left: 1rem;
    }
    p.nextTime {
        font-size: 1rem;
        line-height: 1.8rem;
        margin: 0;
        margin-top: -5px;
        padding-left: 1.6rem;
        padding-top: 5px;
    }

    .chocolat.back .cursustitle, .chocolat.back h4, 
    .chocolat.marketing .cursustitle, .chocolat.marketing h4,
    .chocolat.front .cursustitle, .chocolat.front h4
    {
        // color: rgb(64,114,144);
        font-weight: 400;
        cursor: pointer;
    }
    
  
    h4 {
        margin: 0;
    }
    .cursusDesc h4 + p {
        margin-top: 5px;
    }
    select {
        font-size: 1rem;
    }
    // @media screen and (max-width: 991px) {
        .alignWithCard img {
            // margin-top: 10px !important;
        }
        .chocolat {
            .item {
                position: relative;
                overflow: hidden;
                border: solid 0px;
                margin-bottom: -1px;

                h4.cursustitle{
                    cursor: pointer;
                    margin: 0; 
                    padding: 12px 0; 
                    position: relative;
                }
                .cursustitle::after {
                    content: ' +';
                    position: absolute;
                    right: 12px;
                }
                .cursustitle:hover::after {
                    opacity: 0.5;
                }
                .cursusDesc {
                    max-height: 1px;
                    overflow: hidden;
                    text-align: justify;
                }
                
            }
            .item.open {
                max-height: 99999px;
                .cursusDesc {
                    max-height: 99999px;
                }
            }
        }
        p.nextTime {
            padding-left: 0;
        }
    // }
    .cursus ion-col img {
        margin: 0;
        width: auto;
        height: 3.2rem;
        padding-right: 0px;
        // max-width: 80px;
        cursor: pointer;
    }
    .block4Inline {
        padding: 0;
        margin: 0;
    }
    ion-grid {
        padding: 0;
    }   
    .timeline {
        .fadeSlow {
            max-height: 1.2rem;
            padding: 0 0.7rem;
             span {
                text-align: right;
                border-bottom: 1px solid;
                border-left: 1px solid;
                border-color: #333;
                padding: 0 0 0.3rem 1rem;
                width: 100%;
                display: inline-block;
                font-size: 1rem;
             }
        }
    } 
    .description h4 {
        color: inherit !important;
        margin: 30px 0;
    }
    .card-content p {
        margin-bottom: -10px;
    }
    
    /*
    .item_module_row {
        margin-bottom: 48px
    }
    */

    .block_list_item {
        margin-left: -10px!important;
        margin-right: -10px!important;
        margin-top: 0.5rem;
    }

    .bottom_line{
        border-bottom: solid 1px #333;
        padding-bottom: 0.8rem;
    }
    .top_line {
        padding-bottom: 0.5rem;
        border-top: solid 1px #333;
    }
    .itemTranslate {
        transform: translateX(-2rem);
    }

    .chocolat.back {

    }
}

.text.front ,
.chocolat.front .cursustitle, .chocolat.front h4, .chocolat.front h3
{
    --color: rgb(84,112,43) !important;
    color: rgb(84,112,43) !important;
}
.text.marketing ,
.chocolat.marketing .cursustitle, .chocolat.marketing h4, .chocolat.marketing h3
{
    --color: rgb(142,25,78) !important;
    color: rgb(142,25,78) !important;
}
.text.back,
.chocolat.back .cursustitle, .chocolat.back h4, .chocolat.back h3
{
    --color: rgb(64,114,144) !important;
    color: rgb(64,114,144) !important;
}