app-cusrsus-item {
    h4.front {
        color: #388E3C;
    }
    h4.back {
        color: #0288D1;
    }
    .cursusDesc {
        padding: 0 16px;
    }
    .cursus {
        span {
            font-weight: 300;
        }
        p {
            font-size: 1.2rem;
            // font-weight: 400;
        }

        padding: 0.4rem;
        font-size: 1.3rem;
        // letter-spacing: 0.1rem;
        margin: 0;

        .alignWithCard {
            span {
                color: #575757;
            }
            h2 {
                margin-top: 0.2rem;
            }
  
        }
    }
    .cursus .col {
        font-weight: 300;
        transition: 250ms ease-in-out;
        cursor: pointer;
    }
    .cursus .col.front{
        background: #fff;
        color: #388E3C;
        border: solid 1px #388E3C;
    }
    .cursus .col.front:hover, .cursus .col.front.active{
        background: #388E3C;
        color: #fff;
        border: solid 1px #388E3C;
    }
    .cursus .col.back{
        background: #fff;
        color: #0288D1;
        border: solid 1px #0288D1;
    }
    .cursus .col.back:hover, .cursus .col.back.active{
        background: #0288D1;
        color: #fff;
        border: solid 1px #0288D1;
    }
    .alignWithCard {
        padding: 0;
    }
    p.nextTime {
        font-size: 1rem;
        line-height: 1.8rem;
        margin: 0;
        margin-top: -5px;
        padding-left: 1.6rem;
    }
    @media screen and (max-width: 991px) {
        p.nextTime {
            padding-left: 0;
        }
    }
    .cursus ion-col img {
        margin: 0;
        width: 3.5rem;
        padding-right: 10px;
        // max-width: 80px;
        cursor: pointer;
    }
    .block4Inline {
        padding: 0;
        margin: 0;
    }
    ion-grid {
        padding: 0;
    }   
    .timeline {
        .fadeSlow {
            max-height: 1.2rem;
            padding: 0 1rem;
             span {
                text-align: right;
                border-bottom: 1px solid;
                border-left: 1px solid;
                border-color: #333;
                padding: 0 0 0.3rem 1rem;
                width: 100%;
                display: inline-block;
                font-size: 1rem;
             }
        }
    } 
}
