<app-header-app></app-header-app>
<ion-content>
  <ion-grid fixed>
    <ion-row>
      <ion-col>
          <app-menu-nav [currentUrl]="currentUrl"></app-menu-nav>
          <app-header-people [baseUrl]="baseUrl"></app-header-people>
          <app-adress></app-adress>
          <app-slogan [slogan]="'PRÉ-INSCRIPTION WORKSHOPS'"></app-slogan>

      </ion-col>
    </ion-row>
    <ion-row *ngIf="(data$|async) as data"> 
      <ion-col>
        <div class="containerBg">
            <h2>Liste des workshops séléctionnés:</h2>
            <form [formGroup]="form">
              <ion-grid>
                <ion-show-when size="lg">
                  <ion-row class="title">
                    <ion-col sizeMd="12" sizeLg="7">
                      <ion-label>Titre du workshop</ion-label>
                    </ion-col>
                    <ion-col sizeMd="12" sizeLg="3">
                      <ion-label>Dates</ion-label>
                    </ion-col>
                    <ion-col sizeMd="12" sizeLg="2">
                      <ion-label>Écolages</ion-label>
                    </ion-col>
                  </ion-row>
                </ion-show-when>
                <ion-hide-when size="lg">
                  <ion-row class="title">
                    <ion-col sizeMd="12">
                      <ion-label>Workshop</ion-label>
                    </ion-col>
                  </ion-row>
                </ion-hide-when>
                <ion-row class="item" #wks[i] *ngFor="let wk of form?.get('workshops')?.controls; let i = index">
                  <ion-col sizeMd="12" sizeLg="7">
                    <ion-label>
                        {{ form?.get('workshops').value[i]?.title?.rendered }}
                    </ion-label>
                  </ion-col>
                  <ion-col sizeXs="12" sizeSm="6" sizeLg="3">
                    <ion-label>
                        {{form?.get('workshops').value[i]?.date_session_1_du}} <span *ngIf="form?.get('workshops').value[i]?.date_session_1_au">au</span> 
                        {{form?.get('workshops').value[i]?.date_session_1_au}}
                    </ion-label>
                  </ion-col>
                  <ion-col sizeXs="12" sizeSm="6" sizeLg="2">
                    <ion-label>
                        CHF {{form?.get('workshops').value[i]?.ecolage_wk}}.- 
                        <ion-icon float-right color="dark" (click)="removeItem(i)" name="close-circle"></ion-icon>
                      </ion-label>
                    <!-- <ion-button float-right fill="clear" color="ligth" (click)="removeItem(i)">
                        <ion-icon name="close-circle"></ion-icon>
                    </ion-button> -->
                    <!-- <ion-button  fill="clear" color="dark" (click)="removeItem(i)">
                        <ion-icon name="close-circle"></ion-icon>
                    </ion-button> -->
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col>
                    <p>
                      <span *ngIf="form?.get('workshops')?.value?.length <= 0"><i>Vous n'avez pas séléctionné de workshops.</i> <br></span>
                      <span class="link" (click)="goWk()">Voir tous les workshops</span>
                    </p>
                  </ion-col>
                  <ion-col>
                      <ion-label float-right>
                        <b>Total écolage: CHF {{totalEcolage || '0'}}.-</b>
                      </ion-label>
                  </ion-col>
                </ion-row>
              </ion-grid>
              <h2>Coordonnée:</h2>
              <ion-grid>
                <ion-row>
                  <ion-col sizeXs="12" sizeMd="12" sizeLg="6">
                      
                      <ion-list>
                        <ion-item>
                          <ion-label position="fixed">Nom *</ion-label>
                          <ion-input
                            ngDefaultControl
                            formControlName="nom"></ion-input>
                        </ion-item>
                        <ion-item>
                          <ion-label position="fixed">Prenom *</ion-label>
                          <ion-input
                            ngDefaultControl
                            formControlName="prenom"></ion-input>
                        </ion-item>
                        <ion-item>
                          <ion-label position="fixed">Date de naissance</ion-label>
                          <ion-input
                            ngDefaultControl
                            formControlName="naissance"></ion-input>
                        </ion-item>
                        <ion-item>
                          <ion-label position="fixed">Profession</ion-label>
                          <ion-input
                            ngDefaultControl
                            formControlName="profession"></ion-input>
                        </ion-item>
                        <ion-item>
                          <ion-label position="fixed">Email *</ion-label>
                          <ion-input
                            ngDefaultControl
                            formControlName="email"></ion-input>
                        </ion-item>
                        <ion-item>
                          <ion-label position="fixed">Adresse</ion-label>
                          <ion-input
                            ngDefaultControl
                            formControlName="adresse"></ion-input>
                        </ion-item>
                        <ion-item>
                          <ion-label position="fixed">Code postal, Ville</ion-label>
                          <ion-input
                            ngDefaultControl
                            formControlName="cp"></ion-input>
                        </ion-item>
                      </ion-list>  
        
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col sizeXs="12" sizeMd="12" sizeLg="6">
                      <div class="textPage" [innerHTML]="data?.content?.rendered|replaceBy|safeHtml"></div>
                  </ion-col>
                  <ion-col sizeXs="12" sizeMd="12" sizeLg="6">
                    <ion-list>
                        <ion-item class="comments">
                          <ion-textarea
                            ngDefaultControl
                            formControlName="message_pre_inscription" placeholder="Ajouter un commentaire"></ion-textarea>
                        </ion-item>
                    </ion-list>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col>
                    <div id='recaptcha' class="g-recaptcha"
                      data-sitekey="6LdZQnUUAAAAADEBOR-Y2LTtnT1m6CYrrt9qJ7u5"
                      data-callback="onSubmit"
                      data-size="invisible"></div>
                    <ion-button [disabled]="!(form.dirty === true && form.valid === true)" (click)="submit()" >Envoyer inscription</ion-button>
                  </ion-col>
                </ion-row>
              </ion-grid>
              <!-- <ion-list formArrayName="workshops">
                <ion-item #wks[i] *ngFor="let wk of form?.get('workshops')?.controls; let i = index" >
                    <ion-label>{{ form?.get('workshops').value[i]?.title?.rendered }} - <small><i>CHF {{form?.get('workshops').value[i]?.ecolage_wk}}.-</i></small></ion-label>
                    <ion-button slot="end" fill="clear" color="dark" (click)="removeItem(i)">
                        <ion-icon name="close-circle"></ion-icon>
                    </ion-button>
                </ion-item>
              </ion-list>  -->
            </form>
    
        </div>
      </ion-col>
    </ion-row>
    <!-- <ion-row>
      <ion-col>
        <div text-left>
          <ion-button [disabled]="!(form.dirty === true && form.valid === true)" (click)="submit()" >Envoyer inscription</ion-button>
        </div>
      </ion-col>
    </ion-row> -->
  </ion-grid>
  <app-footer></app-footer>
</ion-content>