<ion-toolbar>
  {{path}}
  <ion-buttons slot="end">
      <ion-icon slot="icon-only" name="arrow-back" *ngIf="canNavigateUp" class="pointer" (click)="navigateUp()">x</ion-icon>
      <ion-icon slot="icon-only" name="add" (click)="openNewFolderDialog()">x</ion-icon>
  </ion-buttons>
  
</ion-toolbar>
<ion-list>

  <ion-item (click)="navigate(element)" *ngFor="let element of fileElements"> 
    <ion-title>
      {{element?.name}}
    </ion-title>
    <ion-icon slot="start" name="{{(element?.isFolder ? 'folder' : 'document')}}"></ion-icon>
  </ion-item>      

</ion-list>




 
