<ion-grid fixed >
  <ion-row>
    <ion-col class="red" size-xs="12" size-md="8" (click)="go('./index')">nomades advanced technologies</ion-col>
    <ion-col size-xs="12" size-md="4" (click)="go('./contact')">contact</ion-col>
  </ion-row>
  <ion-row>
    <ion-col size-xs="12" size-md="4" (click)="go('./index')">formations diplômantes</ion-col>
    <ion-col size-xs="12" size-md="4" (click)="go('./projets')">projets</ion-col>
    <ion-col size-xs="12" size-md="4" (click)="go('./nomades')">à propos</ion-col>
  </ion-row>
</ion-grid>