.wks {
    padding: 0.4rem;

    ion-col {
        text-transform: uppercase;
        padding: 0.4rem;
        font-weight: 300;
        font-size: 1.3rem;
        letter-spacing: 0.1rem;        
        margin: 0;
        transition: 250ms ease-in-out;
        cursor: pointer;
    }

    .front {
        color: #387c2b;
        background: #fff;
        border: solid 1px #387c2b;
    }
    .mobile {
        color: #f6a01a;
        background: #fff;
        border: solid 1px #f6a01a;
    }
    .back {
        color: #0078AE;
        background: #fff;
        border: solid 1px #0078AE;
    }
    .front:hover {
        color: #fff;
        background: #387c2b;
        border: solid 1px #387c2b;
    }
    .mobile:hover {
        color: #fff;
        background: #f6a01a;
        border: solid 1px #f6a01a;
    }
    .back:hover {
        color: #fff;
        background: #0078AE;
        border: solid 1px #0078AE;
    }
}
.titre_WORKSHOP{
    margin-top:60px!important;
    font-size: 11vw;
    text-align: center;
    letter-spacing: 0.028em;
    color: #000;
    font-family: "Helvnul","AkzidenzGrotesk-Light",Arial,Helvetica,sans-serif;
    margin-bottom: 40px;

  }
  .rouge {
      color: #c33a32;
  }
  .bleu {
      color: #0078ae;
  }
  .vert {
      color: #387c2b;
  }