app-front-page {
    h1 {
        background: #B71C1C;
        color: #fff;
        padding: 0.4rem;
        font-weight: 400;
        font-size: 1.3rem;
        letter-spacing: 0.1rem;
        margin: 0 !important;
    }
    
    .cursus {
        padding: 0.4rem;
        // font-weight: 300;
        font-size: 1.3rem;
        // letter-spacing: 0.1rem;
        margin: 0;
        cursor: pointer;
    }
    .cursus .col {
        font-weight: 300;
        transition: 250ms ease-in-out;
    }
    .cursus .col.front {
        background: #fff;
        color: rgb(84,112,43);
        border: solid 1px rgb(84,112,43);
    }
    .cursus .col.front:hover{
        background: rgb(84,112,43);
        color: #fff;
        border: solid 1px rgb(84,112,43);
    }
    .cursus .col.back{
        background: #fff;
        color: rgb(64,114,144);
        border: solid 1px rgb(64,114,144);
    }
    .cursus .col.back:hover{
        background: rgb(64,114,144);
        color: #fff;
        border: solid 1px rgb(64,114,144);
    }
    .cursus .col.marketing{
        background: #fff;
        color: rgb(142,25,78);
        border: solid 1px rgb(142,25,78);
    }
    .btnInscription.marketing {
        --background: rgb(142,25,78);
    }
    .cursus .col.marketing:hover, .cursus .col.marketing.active{
        background: rgb(142,25,78);
        color: #fff;
        border: solid 1px rgb(142,25,78);
    }
    ion-grid {
        padding: 0;
    }
}
