app-front-page {
    h1 {
        background: #880E4F;
        color: #fff;
        padding: 0.4rem;
        font-weight: 400;
        font-size: 1.3rem;
        letter-spacing: 0.1rem;
        margin: 0 !important;
    }
    
    .cursus {
        padding: 0.4rem;
        font-weight: 300;
        font-size: 1.3rem;
        letter-spacing: 0.1rem;
        margin: 0;
        cursor: pointer;
    }
    .cursus .col {
        transition: 250ms ease-in-out;
    }
    .cursus .col.front {
        background: #fff;
        color: #388E3C;
        border: solid 1px #388E3C;
    }
    .cursus .col.front:hover{
        background: #388E3C;
        color: #fff;
        border: solid 1px #388E3C;
    }
    .cursus .col.back{
        background: #fff;
        color: #0288D1;
        border: solid 1px #0288D1;
    }
    .cursus .col.back:hover{
        background: #0288D1;
        color: #fff;
        border: solid 1px #0288D1;
    }
    ion-grid {
        padding: 0;
    }
}
