<app-header-app></app-header-app>
<ion-content>
  <ion-grid fixed>
    <ion-row>
      <ion-col>
          <app-menu-nav [currentUrl]="'/index'"></app-menu-nav>
          <app-header-people isHome="true" [baseUrl]="baseUrl"></app-header-people>
          <app-adress></app-adress>
          <app-slogan [slogan]="'FORMATIONS DIPLÔMANTES DANS LES METIERS DU WEB'"></app-slogan>

          <!-- <div *ngIf="data$ | async as frontPage;">
            <div [innerHTML]="frontPage?.content?.rendered|replaceBy|safeHtml "></div>
          </div> -->
      </ion-col>
    </ion-row>
    <ion-row class="cursus" *ngFor="let c of cursus$|async">
      <ion-col [ngClass]="{
        col: true,
        front: c?.name.toLowerCase().includes('front'),
        back: c?.name.toLowerCase().includes('back')
      }" (click)="go(c.link.split('cursus/').reverse()[0])">
      <h2 class="block_title">{{c?.name}}</h2>
    </ion-col>
    </ion-row>
  </ion-grid>
  <app-footer></app-footer>
</ion-content>