<div class="contactContainer">
  <form [formGroup]="form">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-row>
            <ion-col sizeXs="12" sizeMd="3">
              <ion-label position="fixed">Nom *</ion-label>
            </ion-col> 
            <ion-col sizeXs="12" sizeMd="9">
              <ion-input
                ngDefaultControl
                formControlName="nom"></ion-input>              
            </ion-col>
          </ion-row>     
          <ion-row>
            <ion-col sizeXs="12" sizeMd="3">
              <ion-label position="fixed">Prénom *</ion-label>
            </ion-col>
            <ion-col sizeXs="12" sizeMd="9">
              <ion-input
                ngDefaultControl
                formControlName="prenom"></ion-input>               
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col sizeXs="12" sizeMd="3">
              <ion-label position="fixed">Email *</ion-label>
            </ion-col>
            <ion-col sizeXs="12" sizeMd="9">
              <ion-input
                ngDefaultControl
                formControlName="email"></ion-input>                
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col sizeXs="12" sizeMd="3">
              <ion-label position="fixed">Objet</ion-label>
            </ion-col>
            <ion-col sizeXs="12" sizeMd="9">
              <ion-input
                ngDefaultControl
                formControlName="objet"></ion-input>
            </ion-col>
          </ion-row> 
          <ion-row>
            <ion-col sizeXs="12" sizeMd="3">
              <ion-label position="fixed">Message</ion-label>
            </ion-col>
            <ion-col sizeXs="12" sizeMd="9">
              <ion-textarea
                ngDefaultControl
                formControlName="message"></ion-textarea>
            </ion-col>
          </ion-row>
          <div id='recaptcha' class="g-recaptcha"
            data-sitekey="6LdZQnUUAAAAADEBOR-Y2LTtnT1m6CYrrt9qJ7u5"
            data-callback="onSubmit"
            data-size="invisible"></div>
          <div padding>
            <ion-button
              [disabled]="!(form.dirty === true && form.valid === true)"
              (click)="submit()">
                Envoyer
            </ion-button>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>  
</div>