p {
    margin: 10px auto 20px;
    border-top: solid 1px #AAA;
    border-bottom: solid 1px #AAA;
    padding: 10px 0px;
    font-family: "AkzidenzGrotesk-Roman", Arial,Helvetica,sans-serif;
    text-align: center;
    letter-spacing: 0.04em;
    color: #717073;
}